/*General styles*/
body {
    background-color: peachpuff;
}

footer {
  padding: 6em;
  text-align: center;
  background-color: ghostwhite;
  margin-top: 8em;
  color: tomato;
}


/*Intro styles*/
#intro {
  padding: 4em 0em 0em 0em;
  text-align: center;
  color: tomato;
}

#pagecontent {
  width: 50%;
  margin: auto;
  padding-top: 1em;
}

ul a {
  color: orangered;
}

ul a:hover {
  color: coral;
  text-decoration: none;
}

@media (max-width: 768px) {
  #pagecontent {
  width: 88%;
}
  
  h1 {
    font-size: 3em;
  }
  
  #intro {
    padding: 1em;
  }
}



/*Flexbox styles*/
.page-section {
  padding-top: 2em;
  text-align: center;
  background-color: lavender;
}

.title {
  width: 50%;
  margin: auto;
  padding-top: 2em;
}


.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: lavender;
  justify-content: center;
  padding: 2em 0em 6em 0em;
}

.flextest {
  border: 1px solid indigo;
  background-color: lavender;
  text-align: center;
  margin: 1%;
  width: 24%;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: indigo;
 }

.box2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: lavender;
  padding: 6em 0em 6em 0em;
  justify-content: center;
}

.box2 p {
  font-size: 1em;
  text-align: left;

}

.flextest2 {
  background-color: ghostwhite;
  padding: 2%;
  margin: 1%;
  width: 28%;
  font-family: 'PlayfairDisplay', serif;
  font-weight: 300;
  border-top: 12px solid cornflowerblue;
  border-radius: 0 0 16px 16px;
  filter: drop-shadow(3px 4px 3px LightSlateGray);
 }

@media (max-width: 768px) {
  .box {
  padding: 1%;
}

.box2 {
  padding: 1%;
}

.flextest {
  width: 92%;
 }
  
.flextest2 {
  width: 84%;
 }
}

.experiment-header {
  text-align:  center;
}
  
/*Type styles*/
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 5em;
}

p  {
    font-family: 'Merriweather', serif;
    font-size: 1.4em;
    line-height: 1.8em;
}

ul  {
    font-family: 'Merriweather', serif;
    font-size: 1.4em;
    line-height: 1.8em;
}