@media (max-width: 12450px) {
   div {
 	background-color:  red;
 	text-align:  center;
   padding: 1%;
   margin: .5%;
   width: 10%;
 }

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
}

@media (max-width: 768px) {
   div {
 	background-color:  red;
 	text-align:  center;
   padding: 1%;
   margin: .5%;
   width: 5%;
 }

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
  
}